.background-projetos {
  background-image: url(../../img/Background3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.sobre h1 {
  margin: 1.1rem;
}

.containerProjetos {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.projeto {
  border: 4px solid rgb(46, 164, 44);
  border-radius: 10px;
}

.projeto:hover {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.projeto-criacao {
  border: 4px solid rgb(46, 164, 44);
  border-radius: 10px;
}
.projeto-criacao:hover {
  filter: blur(100%);
  filter: brightness(30%);
}

.projeto-criacao img {
  border-radius: 4px;
  height: 15rem;
  display: flex;
  width: 28rem;

  cursor: not-allowed;
}

.projeto img {
  border-radius: 4px;
  height: 15rem;
  display: flex;
  width: 28rem;
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

@media (max-width: 428px) {
  .projeto a img,
  .projeto-criacao img {
    border-radius: 4px;
    height: 12rem;
    display: flex;
    width: 24rem;
  }
}

@media (max-width: 376px) {
  .projeto a img,
  .projeto-criacao img {
    border-radius: 4px;
    height: 12rem;
    display: flex;
    width: 22rem;
  }
}
@media (max-width: 321px) {
  .projeto a img,
  .projeto-criacao img {
    border-radius: 4px;
    height: 10rem;
    width: 18rem;
  }
}
