@font-face {
  font-family: "arcade.ttf";
  src: url(../../Fonts/ARCADE_N.TTF);
}

body {
  background-color: #000;
}
.contato {
  background-color: black;
}
.contato h1 {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "arcade.ttf";
  color: #fff;
}
.contato h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "arcade.ttf";
  color: #fff;
}

.containerContato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.containerContato button {
  width: 6.5rem;
  height: 3rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.logoContato {
  display: flex;
  justify-content: center;
}

.logoContato img {
  width: 27.4rem;
  margin: 0;
}

.linkedin {
  background-color: #0275b4;
  border: none;
}

.github {
  background-color: rgb(0, 0, 0);
  border: 1px solid #fff;
}
.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  font-size: 0.7rem;
  border: none;
}

.whatsapp {
  background-color: #32c332;
  border: none;
}

.email {
  background-color: #0171c5;
  border: none;
}

@media (max-width: 768px) {
  .logoContato img {
    width: 22.4rem;
  }

  .contato h1 {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .title-contato h1 {
    margin-top: 3rem;
  }
}
@media (max-width: 428px) {
  .contato h2 {
    font-size: 1rem;
  }
  .containerContato button {
    font-size: 0.7rem;
    height: 2rem;
  }
  .contato h2 {
    font-size: 0.8rem;
  }
  .containerContato {
    gap: 0.5rem;
  }
  .logoContato img {
    width: 19.4rem;
  }
}
@media (max-width: 375px) {
  .contato {
    height: 130vh;
  }
}

@media (max-width: 360px) {
  .contato h2 {
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .contato h2 {
    font-size: 0.7rem;
  }
  .contato {
    height: 120vh;
  }
  .footer small {
    margin: 10px;
  }
}
