@font-face {
  font-family: "arcade.ttf";
  src: url(../../Fonts/ARCADE_N.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Background*/
.background {
  background-image: url(../../img/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

/*Animation Image*/
.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-logo img {
  width: 26rem;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*intro text*/

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.container-text h1 {
  font-family: "arcade.ttf";
  font-size: 1.5rem;
  color: rgb(0, 170, 0);
}

.container-text h2 {
  color: #fff;
  font-size: 1.3rem;
}

/*Buttons*/

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.containerButton button {
  padding: 10px;
  width: 180px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 3px solid rgb(0, 128, 0);
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 375px) {
  .container-logo img {
    width: 20rem;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@media (max-width: 320px) {
  .container-logo img {
    margin-top: 3rem;
    width: 15rem;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .container-text h1 {
    font-family: "arcade.ttf";
    font-size: 1rem;
    color: rgb(0, 170, 0);
  }
}
