@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "arcade.ttf";
  src: url(../../Fonts/ARCADE_N.TTF);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

nav,
ul,
li {
  display: flex;
  list-style: none;
  gap: 12px;
}

nav {
  margin-right: 50px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

li a:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  background-color: rgb(0, 130, 0);
  border-radius: 5px;
}

.logo {
  text-align: center;
  font-family: "arcade.ttf";
  color: rgb(0, 130, 0);
  font-size: 18px;
  margin-left: 50px;
  text-decoration: none;
  z-index: 1001;
}

.logo span {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

li::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

#btn-mobile {
  display: none;
}

@media (max-width: 768px) {
  #menu li {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    margin: 0;
    font-size: 1rem;
  }

  #menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 4rem;
    width: 100%;
    top: 0;
    right: 0px;
    background-color: #000;
    transition: 0.6s;
    height: 0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu a {
    border-bottom: 2px solid #fff;
  }

  #nav.active #menu {
    height: 100vh;
    visibility: visible;
    overflow: hidden;
  }

  #hamburguer {
    border-top: 2px solid #fff;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
  }

  #btn-mobile {
    display: flex;
    font-size: 1rem;
    margin-left: 2rem;
    background: none;
    cursor: pointer;
    border: none;
    gap: 0.5rem;
    z-index: 1001;
  }

  #nav.active #hamburguer {
    border-top-color: blue;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
  }
}

@media (max-width: 320px) {
  .logo,
  .logo span {
    margin: 0;
    font-size: 0.7rem;
  }
}
