@font-face {
  font-family: "arcade.ttf";
  src: url(../../Fonts/ARCADE_N.TTF);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.background-sobre {
  background-color: black;
}

.sobre h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "arcade.ttf";
  color: #fff;
  margin: 1rem;
}

.containerSobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.containerSobre p {
  width: 25rem;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.containerSobre img {
  width: 30rem;
}

.footer small {
  margin-top: 2.8rem;
}

@media (max-width: 768px) {
  .background-sobre {
    height: 100vh;
  }

  .containerSobre img {
    width: 19rem;
  }
  .containerSobre p {
    width: 17rem;
    font-size: 12px;
  }
  .sobre {
    margin: 3rem;
  }
  .sobre h1 {
    font-size: 1.39rem;
  }
  .footer small {
    margin-top: 7rem;
  }
}

@media (max-width: 428px) {
  .containerSobre {
    flex-direction: column-reverse;
    gap: 0;
  }
  .background-sobre {
    height: 141vh;
  }
  .containerSobre p {
    width: 22rem;
    font-size: 15px;
  }
}

@media (max-width: 376px) {
  .sobre h1 {
    font-size: 1rem;
  }
  .footer small {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .containerSobre p {
    width: 18rem;
    font-size: 13px;
  }
  .footer small {
    margin: 0;
    font-size: 0.6rem;
  }
  .background-sobre {
    height: 125vh;
  }
}
